@media screen and (max-width:600px) {
    
    .header-section,
    .menu-container
    {
        flex-direction: column;
        gap: 15px;
        margin-left: 10px;
    }
    .banner-section
    {
        width: 100%;
        
    }
    .banner-text{
        flex-direction: column;
        width: 100%;

    }
    .input-form{
        flex-direction: column;
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .simple-place{
        flex-direction: column;
        width: 100%;
    }
    .place{
        flex-direction: column;
        width: 100%;
    }
    
}

@media screen and (min-width:600px) and (max-width:992px) {
    .header-section,
    .menu-container
    
    {
        flex-direction: column;
        gap: 15px;
        margin-left: 10px;
    }
    .banner-section
    {
        width: 100%;
        
    }
    
}